.Edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Edit input {
  flex: 1;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 10px;
}

.Edit button {
  background-color: rgba(255, 255, 0, 0.628);
  color: black;
  border-radius: 10px;
  border: 1px solid lightgray;
  cursor: pointer;
}
